doctype html
html(lang="ru")
	head
		meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
		meta(name='google' content='notranslate')
		title Viewers TEST
		link(rel="stylesheet" href="app.min.css?" + hash)
	body
		h2
			|PDF Files Test
		ul
			li
				a(href="assets/pdf/0001.pdf" target="_blank")
					|Link PDF
			li
				a(href="assets/pdf/0002.pdf" target="_blank")
					|Link PDF
			li
				a(href="assets/pdf/0003.pdf" target="_blank")
					|Link PDF
			li
				a(href="assets/pdf/not_found.pdf" target="_blank")
					|Link Not Found PDF file
		h2
			|XLSX Files Test
		ul
			li
				a(href="assets/xlsx/0001.xlsx" target="_blank")
					|Link XLSX
			li
				a(href="assets/xlsx/0002.xlsx" target="_blank")
					|Link XLSX
			li
				a(href="assets/xlsx/0003.xlsx" target="_blank")
					|Link XLSX
			li
				a(href="assets/xlsx/not_found.xlsx" target="_blank")
					|Link Not Found XLSX file
		h2
			|DOCX Files Test
		ul
			li
				a(href="assets/docx/0001.docx" target="_blank")
					|Link DOCX
			li
				a(href="assets/docx/0002.docx" target="_blank")
					|Link DOCX
			li
				a(href="assets/docx/0003.docx" target="_blank")
					|Link DOCX
			li
				a(href="assets/docx/not_found.docx" target="_blank")
					|Link Not Found DOCX file
		script(src="app.min.js?" + hash)